*,
*::after,
*::before {
  box-sizing: border-box;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  justify-content: space-between;
  position: fixed;
}

#left {
  flex: 0 1 auto;
}

#right {
  flex: 0 1 auto;
}

.list-wrapper {
  font-size: 0.8em;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0.5em;
  padding-bottom: 1em;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}

.show-true {
  transform: scale(1, 1);
}

.list-wrapper ::slotted(*) {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  display: block;
  padding: 0.25em;
}

.show-true ::slotted(*) {
  opacity: 1;
}

#right .list-wrapper {
  text-align: right;
}
